# Data Science Tools and Ecosystems

### In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List useful IDEs for Data Science
* Provide basic examples of code in jupyter notebooks

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. C++

### Come of the commonly used libraries used by Data Scientists
1. pandas
2. NumPy
3. matplotlib
4. TensorFlow
5. PyTorch
6. ggplot2

### Data Science Tools Table
|Data Science Tools|
| --- |
| Jupyter | 
| R Studio | 
| Apache Zepplin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
##  This a simple arithmetic expression to mutiply then add integers ##
(3 * 4) + 5

17

In [13]:
## This will convert 200 minutes to hours by diving by 60 ##

x = 200
y = 60
z = x / y
print(x, "minutes equals", z, "hours")

200 minutes equals 3.3333333333333335 hours